<link rel="stylesheet" type="text/css" href="css/feed.css">
<link rel="stylesheet" href="css/profile.css">

<div class="row">

	<!-- Main Content -->

	<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

		<div class="ui-block">

			<!-- News Feed Form  -->

			<div class="news-feed-form">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						
					</li>
					

					
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true" style="height: 100px;">
						<div style="height:100%; display:flex; flex-direction:row">
							<img src="users/{{{userId}}}/profilepicture" alt="" class="menu-icon" style="border-radius:50%; width:40px; height:40px; margin-left: 20px; margin-top: 28px;">
							<div style="
							margin: auto;
							display: flex;
							background: #eee;
							width: calc(85% - 40px);
							border-radius: 15px;
							height: 40px;">
								
								<img src="img/createpost1.svg" alt="" style="width:25px; margin-left: 10px;">
								<span id= 'span-create-post' style="font-size: large; margin:auto; margin-left: 5px">Create a post</span>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="profile-1" role="tabpanel" aria-expanded="true">
						<form>
							<div class="author-thumb">
								<img src="img/author-page.jpg" alt="author">
								
							</div>
							<div class="form-group with-icon label-floating is-empty">
								<label class="control-label">Share what you are thinking here...</label>
								
								<textarea class="form-control" placeholder=""></textarea>
							</div>
							
						</form>
					</div>

					<div class="tab-pane" id="blog" role="tabpanel" aria-expanded="true">
						<form>
							<div class="author-thumb">
								<img src="img/author-page.jpg" alt="author">
							</div>
							<div class="form-group with-icon label-floating is-empty">
								<label class="control-label">Share what you are thinking here...</label>
								<textarea class="form-control" placeholder=""></textarea>
							</div>
							<div class="add-options-message">
								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"
									data-original-title="ADD PHOTOS">
									<svg class="olymp-camera-icon" data-toggle="modal"
										data-target="#update-header-photo">
										<use xlink:href="#olymp-camera-icon"></use>
									</svg>
								</a>
								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"
									data-original-title="TAG YOUR FRIENDS">
									<svg class="olymp-computer-icon">
										<use xlink:href="#olymp-computer-icon"></use>
									</svg>
								</a>

								<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"
									data-original-title="ADD LOCATION">
									<svg class="olymp-small-pin-icon">
										<use xlink:href="#olymp-small-pin-icon"></use>
									</svg>
								</a>

								
								<button
									class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

							</div>

						</form>
					</div>
				</div>
			</div>

			<!-- ... end News Feed Form  -->
		</div>

		<div id="newsfeed-items-grid">
		</div>
	</main>

	<!-- ... end Main Content -->


	<!-- Left Sidebar -->

	<aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

	</aside>

	<!-- ... end Left Sidebar -->


	<!-- Right Sidebar -->

	<aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

		
	

		




	</aside>

	<!-- ... end Right Sidebar -->

</div>

<div id="modalWindow-container" >
	
	<div id="createNewPostWindow">

		<h2 id="postWindow-title">
			Create new post
		</h2>
		<textarea name="" id="post-textarea" cols="30" rows="10"></textarea>
		<button class="file-modal-btn" id='btn-select-file' style="display: flex; width:220px; margin-top: 10px; margin-bottom:10px">
			<img src="img/uploadmedia.svg" alt="" style="width: 35px; margin-left: 2px; margin-top: auto; margin-bottom: auto;">
			<span style="margin: auto; color: white;font-size: 20px;">Photo or video</span>
		</button>
		
	{{!-- 	<div id = 'div-preview' style="
			width: 99%;
			margin: auto;
			margin-top: 10px;
			display:none;
			background:pink;
			" 
			
			>
		</div> --}}
		<img id= 'img-preview' src="img/uploadimage.png" alt="" 
			style="
			width: 100%;
			display: none;
			max-height: 230px;
			object-fit: scale-down;"
		>

		<video id = 'video-preview'controls width="100%" style="display: none; max-height:250px;">
			<source id ='video-preview-source' src="posts/${this.id}/content" type="video/mp4" />
			Sorry, your browser doesn't support embedded videos.
		</video>
		
		<input type="file" id="input-file" class='inputfile' style="display: none;">
		<div id="loading-message" style="
		                    display: none;
		                    width: 200px;
		                    margin: auto;">
			<img src="img/loadingspinner.gif" style=" 
		                    width:50px;
		                    margin: auto;">
		
			<span style="
		                        margin: auto;
		                        margin-left: -15px;
		                        color: #888da8;
		                        font-size: larger;
		                    ">Uploading your photo</span>
		</div>
		<div class= 'file-modal-buttons-container'>
			
			<button class= "file-modal-btn"  id="post-button">POST</button>
			<button class = "file-modal-btn" id="cancel-button">CANCEL</button>

			</div>
		</div>
		
	</div>

</div>

<a id= 'open-post-window' class="create-post-bubble-button" href="#">
	{{!-- <img src="svg-icons/back-to-top.svg" alt="arrow" style="margin:auto"> --}}
	<img src="img/createpostwhite.svg" alt="" style="width:32px; margin:auto ">

</a>

<div id='post-notification' style="background: white;
    width: 320px;
    position: fixed;
    z-index: 500;
    border: 1px solid;
	right:0px;
	top:10px;
	display: none;">

	<div id="close-notification-btn" style="background: #8080803b;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    border-radius: 100%;
	display:flex;
	">
		<span style="margin:auto"> X</span>

	</div>
	<div class="mCustomScrollbar" data-mcs-theme="dark">
		<ul class="notification-element">
			<li>
				<div class="author-thumb">
					<img src="img/avatar66-sm.jpg" alt="author">
				</div>
				<div style="width: 80%;">
					<div>
						<a style="font-size: initial;" href="profile" class="h6 notification-friend">Your post is ready
							to view.</a>
					</div>
					<span class="notification-date">
						<time class="entry-date updated" datetime="2004-07-24T18:18">
							March 2nd at 8:29pm
						</time>
					</span>
				</div>
			</li>
		</ul>
	</div>

</div>

<script>
	window.session = {
		userId: '{{{userId}}}',
		title: '{{{title}}}'
	}
</script>
<script src="js/jQuery/jquery-3.4.1.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/posts.js"></script>
<script src="js/feed.js"></script>