<!DOCTYPE html>
<html lang="en">

<head>

	<title>Care-U</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="js/libs/webfontloader.min.js"></script>

	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<!-- Bootstrap CSS -->

	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">


	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">



</head>

<body class="landing-page">


	<!-- Preloader -->

	<!-- <div id="hellopreloader">
	<div class="preloader">
		<svg width="45" height="45" stroke="#fff">
			<g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="8">
					<animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite" values="6;1;2;3;4;5;6"/>
				</circle>
			</g>
		</svg>

		<div class="text">Loading ...</div>
	</div>
</div>-->

	<!-- ... end Preloader -->
	<div class="content-bg-wrap"></div>


	<!-- Header Standard Landing  -->


	<!-- ... end Header Standard Landing  -->
	<div class="header-spacer--standard"></div>

	<div class="container">
		<div class="row display-flex">
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="landing-content">
					<h1>Welcome to Care-U</h1>
					<p>Care-U is a social-media platform desgined BY students FOR students.
						Share you
						thoughts, write blog posts, explore how your fellow students engage in self-care, meditation and much more!
					</p>
					
				</div>
			</div>

			<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

				<!-- Login-Registration Form  -->

				<div class="registration-login-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#home" role="tab">
								<svg class="olymp-login-icon">
									<use xlink:href="#olymp-login-icon"></use>
								</svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#profile" role="tab">
								<svg class="olymp-register-icon">
									<use xlink:href="#olymp-register-icon"></use>
								</svg>
							</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
							<div class="title h6">Register to Care-U</div>
							<form class="content">
								<div class="row">

									<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
										<div class="form-group label-floating">
											<label class="control-label">First Name</label>
											<input id="name" class="form-control" placeholder="" type="text">
										</div>
									</div>
									<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
										<div class="form-group label-floating">
											<label class="control-label">Username</label>
											<input id ='username' class="form-control" placeholder="" type="text">
										</div>
									</div>
									<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">

										<div class="form-group label-floating">
											<label class="control-label">School</label>
											<input  id ="school" class="form-control" placeholder="" type="text">
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Your Email</label>
											<input  id="email" class="form-control" placeholder="" type="email">
										</div>
										<div class="form-group label-floating">
											<label class="control-label">Your Password</label>
											<input id= "password" class="form-control" placeholder="" type="password">
										</div>

										

										<div class="remember">
											<div class="checkbox">
												<label>
													<input id='checkTerms' name="optionsCheckboxes" type="checkbox">
													I accept the <a href="#">Terms and Conditions</a> of the website
												</label>
											</div>
										</div>

										<button disabled= "true" id='btn-register' class="btn btn-purple btn-lg full-width">Complete Registration!</button>
									</div>
								</div>
							</form>
						</div>

						<div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
							<div class="title h6">Login to your Account</div>
							<form class="content">
								<div class="row">
									<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<div class="form-group label-floating">
											<label class="control-label">Your Email</label>
											<input id = 'login-email' class="form-control" placeholder="" type="email">
										</div>
										<div class="form-group label-floating">
											<label class="control-label">Your Password</label>
											<input id='login-password' class="form-control" placeholder="" type="password">
										</div>

										{{!-- <div class="remember">

											<div class="checkbox">
												<label>
													<input name="optionsCheckboxes" type="checkbox">
													Remember Me
												</label>
											</div>
											<a href="#" class="forgot" data-toggle="modal"
												data-target="#restore-password">Forgot my Password</a>
										</div> --}}

										<a id = 'login-btn' href="#" class="btn btn-lg btn-primary full-width">Login</a>
										<div class= "incorrect-email-or-password" id="incorrect-email-or-password">
											
											
											<h4>The username or password you have entered is invalid</h4>
										</div>
										<div class="or"></div>

										


										<p>Don’t you have an account? <a href="#">Register Now!</a> it’s really simple
											and you can start enjoing all the benefits!</p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- ... end Login-Registration Form  -->
			</div>
		</div>
	</div>

	<!-- Window-popup Restore Password -->

	<div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password"
		aria-hidden="true">
		<div class="modal-dialog window-popup restore-password-popup" role="document">
			<div class="modal-content">
				<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
					<svg class="olymp-close-icon">
						<use xlink:href="#olymp-close-icon"></use>
					</svg>
				</a>

				<div class="modal-header">
					<h6 class="title">Restore your Password</h6>
				</div>

				<div class="modal-body">
					<form method="get">
						<p>Enter your email and click the send code button. You’ll receive a code in your email. Please
							use that
							code below to change the old password for a new one.
						</p>
						<div class="form-group label-floating">
							<label class="control-label">Your Email</label>
							<input class="form-control" placeholder="" type="email" value="james-spiegel@yourmail.com">
						</div>
						<button class="btn btn-purple btn-lg full-width">Send me the Code</button>
						<div class="form-group label-floating">
							<label class="control-label">Enter the Code</label>
							<input class="form-control" placeholder="" type="text" value="">
						</div>
						<div class="form-group label-floating">
							<label class="control-label">Your New Password</label>
							<input class="form-control" placeholder="" type="password" value="olympus">
						</div>
						<button class="btn btn-primary btn-lg full-width">Change your Password!</button>
					</form>

				</div>
			</div>
		</div>
	</div>

	<!-- ... end Window-popup Restore Password -->


	<!-- Window Popup Main Search -->

	<div class="modal fade" id="main-popup-search" tabindex="-1" role="dialog" aria-labelledby="main-popup-search"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered window-popup main-popup-search" role="document">
			<div class="modal-content">
				<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
					<svg class="olymp-close-icon">
						<use xlink:href="#olymp-close-icon"></use>
					</svg>
				</a>
				<div class="modal-body">
					<form class="form-inline search-form" method="post">
						<div class="form-group label-floating">
							<label class="control-label">What are you looking for?</label>
							<input class="form-control bg-white" placeholder="" type="text" value="">
						</div>

						<button class="btn btn-purple btn-lg">Search</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ... end Window Popup Main Search -->

	<!-- JS Scripts -->
	<script src="js/jQuery/jquery-3.4.1.js"></script>
	<script src="js/libs/jquery.appear.js"></script>
	<script src="js/libs/jquery.mousewheel.js"></script>
	<script src="js/libs/perfect-scrollbar.js"></script>
	<script src="js/libs/jquery.matchHeight.js"></script>
	<script src="js/libs/svgxuse.js"></script>
	<script src="js/libs/imagesloaded.pkgd.js"></script>
	<script src="js/libs/Headroom.js"></script>
	<script src="js/libs/velocity.js"></script>
	<script src="js/libs/ScrollMagic.js"></script>
	<script src="js/libs/jquery.waypoints.js"></script>
	<script src="js/libs/jquery.countTo.js"></script>
	<script src="js/libs/popper.min.js"></script>
	<script src="js/libs/material.min.js"></script>
	<script src="js/libs/bootstrap-select.js"></script>
	<script src="js/libs/smooth-scroll.js"></script>
	<script src="js/libs/selectize.js"></script>
	<script src="js/libs/swiper.jquery.js"></script>
	<script src="js/libs/moment.js"></script>
	<script src="js/libs/daterangepicker.js"></script>
	<script src="js/libs/fullcalendar.js"></script>
	<script src="js/libs/isotope.pkgd.js"></script>
	<script src="js/libs/ajax-pagination.js"></script>
	<script src="js/libs/Chart.js"></script>
	<script src="js/libs/chartjs-plugin-deferred.js"></script>
	<script src="js/libs/circle-progress.js"></script>
	<script src="js/libs/loader.js"></script>
	<script src="js/libs/run-chart.js"></script>
	<script src="js/libs/jquery.magnific-popup.js"></script>
	<script src="js/libs/jquery.gifplayer.js"></script>
	<script src="js/libs/mediaelement-and-player.js"></script>
	<script src="js/libs/mediaelement-playlist-plugin.min.js"></script>
	<script src="js/libs/ion.rangeSlider.js"></script>
	<script src="js/libs/leaflet.js"></script>
	<script src="js/libs/MarkerClusterGroup.js"></script>

	<script src="js/main.js"></script>
	<script src="js/libs-init/libs-init.js"></script>
	<script defer src="fonts/fontawesome-all.js"></script>

	<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script src= "js/login.js"></script>
	<script src="js/register.js"></script>

	<!-- SVG icons loader -->
	<script src="js/svg-loader.js"></script>
	
	<!-- /SVG icons loader -->

</body>

</html>