/* .headerbar {
  height: 70px;
  background-color: #00887A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 21; }

  .fixed-sidebar-logo {
    height: 70px;
    background-color: #77A6F7;
    padding: 15px; } */